{% extends "multitenancy/admin/base.html" %}

{% load static %}
{#% load url from future %#}
{% load multitenancy_tags %}
{% load bootstrap4 %}

{% block body_class %}{{ block.super }} profile{% endblock %}

{% block head_title %}Edit Profile{% endblock %}
{%block custom_css%}
{{ form.media.css }}
<link rel="stylesheet" href="{% static "plugins/select2/css/select2-bootstrap4.min.css" %}">

{% endblock%}
{% block page_title %}Update Profile{% endblock %}
{%block breadcrumbs%}
<li class="breadcrumb-item " ><a href="{% url 'profiles_list' %}">Profiles</a></li>
<li class="breadcrumb-item " ><a href="{% url 'profiles_detail' username=profile.user.username %}">{{profile.display_name}}</a></li>
<li class="breadcrumb-item active">Update</li>
{% endblock%}

{% block main_content %}
<div class="container" style="padding-bottom: 100px;">
    <div class="row p-3 text-dark">
        <div class="col-md-9">
            <form class="form profile-form" action="" method="POST" enctype="multipart/form-data">
                <legend>Edit Profile</legend>
                {% csrf_token %}
                
                {% bootstrap_field form.name %}
                <div id="div_id_avatar" class="control-group">
                    
                    <div class="controls">
                    

                    <img class="img-polaroid avatar hidden-phone" src="{% avatar_url profile.user %}" alt="{{ profile.name }}" /><br />
                    
                        
                    </div>
                </div>
                {% bootstrap_field form.job_title %}
                {% bootstrap_field form.bio %}
                {% bootstrap_field form.education %}
                {% bootstrap_field form.skills %}
                {% bootstrap_field form.display_profile %}
                {% bootstrap_field form.location %}
                {% bootstrap_field form.website %}
                {% with bootstrap_field=form.twitter_username %}
                
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {% if field.auto_id %}
                            <label class="control-label {{ classes.label }} {% if field.field.required %}{{ form.required_css_class }}{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% endif %}
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" name="{{ field.name }}" value="{{ field.value }}" class="form-control" />
                        </div>
                        {% for error in field.errors %}
                            <span class="help-block {{ form.error_css_class }}">{{ error }}</span>
                        {% endfor %}
                        {% if field.help_text %}
                            <p class="help-block">
                                {{ field.help_text|safe }}
                            </p>
                        {% endif %}
                    </div>
                {% endwith %}
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-default" href="{% url 'profiles_detail' request.user.username %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{%block custom_js%}
{{ form.media.js }}
{%endblock%}