{% extends "helpdesk/base.html" %}{% load i18n %}{% load user_admin_url %}

{% block helpdesk_title %}{% trans "Change Helpdesk Settings" %}{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item">
    <a href="{% url 'multitenancy.helpdesk:user_settings' %}">{% trans "Settings" %}</a>
</li>
<li class="breadcrumb-item active">
    Helpdesk Settings
</li>
{% endblock %}

{% block helpdesk_body %}
<section class="content" style="margin-left:100px">
    <div class="container-fluid text-dark" >
<h2>{% trans "Helpdesk Settings" %}</h2>

<p>{% blocktrans %}The following items can be maintained by you or other superusers:{% endblocktrans %}</p>
<div class="row">
        <div class="col-md-6">
          <div class="list-group">
            <a href="{% url 'multitenancy.helpdesk:email_ignore' %}" class="list-group-item">
              <h4 class="list-group-item-heading">{% trans "E-Mail Ignore list" %}</h4>
              <p class="list-group-item-text">
                Manage E-mails to ignore
              </p>
            </a>
            <a href="{% url 'admin:helpdesk_queue_changelist' %}" class="list-group-item">
              <h4 class="list-group-item-heading">{% trans "Maintain Queues" %}</h4>
              <p class="list-group-item-text">
                Manage Queues(Departments)
              </p>
            </a>
            <a href="{% url 'admin:helpdesk_presetreply_changelist' %}" class="list-group-item">
                <h4 class="list-group-item-heading">{% trans "Maintain Pre-Set Replies" %}</h4>
                <p class="list-group-item-text">
                  Manage auto replies
                </p>
              </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            {% if helpdesk_settings.HELPDESK_KB_ENABLED %}
            <a href="{% url 'admin:helpdesk_kbcategory_changelist' %}" class="list-group-item">
              <h4 class="list-group-item-heading">{% trans "Maintain Knowledgebase Categories" %}</h4>
              <p class="list-group-item-text">
                Manage Knowledgebase Categories
              </p>
            </a>
            
            <a href="{% url 'admin:helpdesk_kbitem_changelist' %}" class="list-group-item">
              <h4 class="list-group-item-heading">{% trans "Maintain Knowledgebase Items" %}</h4>
              <p class="list-group-item-text">
                View and Manage Knowledgebase Items
              </p>
            </a>
            {% endif %}
            <a href="{% url 'admin:helpdesk_emailtemplate_changelist' %}" class="list-group-item">
              <h4 class="list-group-item-heading">{% trans "Maintain E-Mail Templates" %}</h4>
              <p class="list-group-item-text">
                Create and manage Email Templates
              </p>
            </a> 
          </div>
        </div>
      </div>
<ul>


    
    
    <!-- <li><a href='{#% url 'changelist'|user_admin_url %#}'>{% trans "Maintain Users" %}</a></li> -->
</ul>
</div>
</section>
{% endblock %}
