{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Delete Ticket Dependency" %}{% endblock %}

{% block helpdesk_breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'multitenancy.helpdesk:list' %}">{% trans "Tickets" %}</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ dependency.ticket.get_absolute_url }}">{{ dependency.ticket.queue.slug }}-{{ dependency.ticket.id }}</a>
</li>
<li class="breadcrumb-item active">{% trans "Delete Ticket Dependency" %}</li>
{% endblock %}

{% block helpdesk_body %}
<section class="content" style="margin-left:100px">
    <div class="container-fluid text-dark">
        {% blocktrans %}
        <h2>Delete Ticket Dependency</h2>

        <p>Are you sure you wish to remove the dependency on this ticket?</p>
        {% endblocktrans %}

        <p><a href='{{ dependency.ticket.get_absolute_url }}'><button
                    class="btn btn-primary btn-lg">{% trans "Don't Delete" %}</button></a></p>

        <form method='post' action='./'>
            <button class="btn btn-danger" type='submit'>{% trans "Yes, I Understand - Delete" %}</button>
            {% csrf_token %}
        </form>
    </div>
</section>
{% endblock %}