{% extends "multitenancy/admin/adminUser/base.html" %}
{% load static %}
{% block page_title %}General Settings{% endblock page_title %}

{%block custom_css%}
    <link rel="stylesheet" href="{% static 'admin/css/settings.css' %}">
{%endblock%}
{%block breadcrumbs%}
<li class="breadcrumb-item " ><a href="{% url 'settings_index' %}">Settings</a></li>
<li class="breadcrumb-item active">General Settings</li>
{% endblock%}

{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
          <div class="list-group">
            <a href="{% url 'pinax_teams:team_list' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Logo</h4>
              <p class="list-group-item-text">
                Upload Company Logo
              </p>
            </a>
            <a href="{% url 'generalsettings_index' %}" class="list-group-item">
              <h4 class="list-group-item-heading">General Company Details</h4>
              <p class="list-group-item-text">
                Update the name, phone number, etc of the company
              </p>
            </a>
            <a href="{% url 'plan_list' %}" class="list-group-item">
                <h4 class="list-group-item-heading">Address</h4>
                <p class="list-group-item-text">
                  Update company address
                </p>
              </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            <a href="{% url 'template_list' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Time zone and currency</h4>
              <p class="list-group-item-text">
                Update company timezone, currency and other related details.
              </p>
            </a>
            <a href="{#% url 'groups_manager:group_entity_list' %#}" class="list-group-item">
              <h4 class="list-group-item-heading">Groups</h4>
              <p class="list-group-item-text">
                Manage Group Settings and User roles
              </p>
            </a>
            <a href="{% url 'usersubscription_list' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Subscriptions</h4>
              <p class="list-group-item-text">
                View and Manage User Subscriptions
              </p>
            </a>
          </div>
        </div>
      </div>
</section>
<!-- /.content -->
{% endblock main_content %}