{% extends "multitenancy/admin/adminUser/base.html" %}
{% load static %}
{% block page_title %}Settings{% endblock page_title %}

{%block custom_css%}
    <link rel="stylesheet" href="{% static 'admin/css/settings.css' %}">
{%endblock%}
{%block breadcrumbs%}

<li class="breadcrumb-item active">Settings</li>
{% endblock%}

{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
          <div class="list-group">
            <a href="{% url 'pinax_teams:team_list' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Teams</h4>
              <p class="list-group-item-text">
                List of managed teams
              </p>
            </a>
            <a href="{#% url 'groups_manager:member_list' %#}" class="list-group-item">
              <h4 class="list-group-item-heading">Company Settings</h4>
              <p class="list-group-item-text">
                Edit Company details (e.g Name of org, address, logo etc)
              </p>
            </a>
            <a href="{% url 'package_list' %}" class="list-group-item">
                <h4 class="list-group-item-heading">Packages</h4>
                <p class="list-group-item-text">
                  Setup pricing packages for your tenant apps
                </p>
              </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            <a href="{#% url 'groups_manager:group_type_list' %#}" class="list-group-item">
              <h4 class="list-group-item-heading">Group Types</h4>
              <p class="list-group-item-text">
                Define types (i.e. "Organization")
              </p>
            </a>
            <a href="{#% url 'groups_manager:group_entity_list' %#}" class="list-group-item">
              <h4 class="list-group-item-heading">Group Entities</h4>
              <p class="list-group-item-text">
                Manage Group Entities (i.e. "Collaborators")
              </p>
            </a>
            <a href="{#% url 'groups_manager:group_member_role_list' %#}" class="list-group-item">
              <h4 class="list-group-item-heading">Group Member Roles</h4>
              <p class="list-group-item-text">
                User Roles within groups
              </p>
            </a>
          </div>
        </div>
      </div>
</section>
<!-- /.content -->
{% endblock main_content %}