{% extends "multitenancy/admin/base.html" %}

{% block page_title %}Tenant Types{% endblock page_title %}
{%block breadcrumbs%}
<li class="breadcrumb-item " ><a href="{% url 'tenant_list' %}">Tenants</a></li>
<li class="breadcrumb-item active">Tenant Types</li>
{% endblock%}

{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            
            <div class="col">
                <div class="mb-5 mr-3">
                   <a href="{% url "create_tenant_type" %}"><button type="submit" class="btn btn-success shadow float-right"><i class="fas fa-plus"></i> Add new type</i></button></a> 
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-dark">Tenant Details</h3>

                        <div class="card-tools">
                            <form method="get" id="filter-form" class="input-group input-group-md" style="width: 200px;">
                                <input type="number" step="any" id="id_id" name="id" class="form-control float-right"
                                    placeholder="Search tenant">
                                <div class="input-group-append">
                                    <button type="submit" id="" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            <form />
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-dark table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th >ID</th>
                                    <th>Name</th>
                                    
                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for type in object_list%}
                                <tr>
                                    <td>{{type.id}}</td>
                                    <td>{{type.name}}</td>
                                    
                                    {% if tenant.schema_name != "public" %}
                                    <th> <a name="" id="" class="btn btn-success" href="{#% url 'edit_tenant' tenants.pk %#}"
                                            role="button"><i class="fas fa-edit"></i> Edit</a> </th>
                                        {% endif %}

                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock main_content %}