{% extends "multitenancy/admin/base.html" %}
{% block page_title %}Manage {{plan.name}} plan{% endblock page_title %}
{% load sweetify %}
    {% sweetify %}
{%block breadcrumbs%}
<li class="breadcrumb-item "><a href="{% url 'settings_index' %}">Settings</a></li>
<li class="breadcrumb-item "><a href="{% url 'plan_list' %}">Plans</a></li>
<li class="breadcrumb-item active">{{plan.name}}</li>
{% endblock%}

{% block main_content %}
<section class="content" style="padding-bottom: 100px;">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <a href="{% url 'update_plan' object.pk %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{object.name}}</h4>
                    <p class="list-group-item-text">
                        {{object.description}}
                    </p>
                </a>
            </div>    
        </div>
        <div class="col-md-12 text-left text-muted">
            <h4>Manage Features</h4>
            <div class="mb-5 mr-5">
                <button type="button" class="btn btn-success shadow" data-toggle="modal" data-target="#modal-lg">
                    <i class="fas fa-plus"></i> Add new feature
                </button>
            </div>
            <div class="">
                <h5 class="text-dark">Features</d>
                    <div class="list-group pt-2">
                        {% for feature in object.features.all %}
                        <button type="button" href="{#% url 'update_feature' feature.pk %#}" class="list-group-item" >
                            <h4 class="list-group-item-heading">{{feature.name}}</h4>
                            <p class="list-group-item-text">
                                {{feature.description}}
                            </p>
                        </button>
                        {% endfor %}
                    </div>
            </div>
        </div>
        
    </div>
    {#% include "multitenancy/admin/adminUser/includes/create_feature.html" %#}
    {#% include "multitenancy/admin/adminUser/includes/update_feature.html" %#}
</section>

{% endblock %}