{% extends "multitenancy/admin/base.html" %}
{% load static %}

{% block page_title %}Manage User Subscriptions{% endblock page_title %}
{%block breadcrumbs%}
<li class="breadcrumb-item "><a href="{% url 'billing' %}">Billing</a></li>
<li class="breadcrumb-item active">Subscriptions</li>
{% endblock%}


{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <!-- <div class="row">
            <div class="col-md">
                <div class="mb-5 mr-3">
                    <form method="get" id="filter-form" class="input-group input-group-md" style="width: 250px;">
                        <input type="text" name="q" class="form-control float-right"
                            placeholder="Search by subscription id">
                        <div class="input-group-append">
                            <button type="submit" disabled id="" class="btn btn-success"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>

        </div> -->
        <div class="row">
            <div class="col-12">

                <div class="card text-dark">
                    <div class="card-header">
                        <h3 class="card-title">Subscriptions</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="subscriptions-table" class="table table-bordered table-striped  table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Payment Cycle</th>
                                    <th>Duration</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Created Date</th>
                                    <th>Renewal Date</th>
                                    <th>Reference</th>
                                    <!-- <th>Last Updated</th> -->
                                    <!-- <th>Product Type</th> -->
                                    <th>Reason</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
        
                            </tbody>
                            
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script src="{% static "multitenancy/subscriptions/js/subscriptions.js" %}"></script>
{% endblock custom_js %}