{% extends "multitenancy/admin/base.html" %}
{% load static %}
{% block page_title %}Settings{% endblock page_title %}

{%block custom_css%}
    <link rel="stylesheet" href="{% static 'admin/css/settings.css' %}">
{%endblock%}
{%block breadcrumbs%}

<li class="breadcrumb-item active">Settings</li>
{% endblock%}

{% block main_content %}

<!-- Main content -->
<section class="content" style="padding-bottom: 100px;">
    <div class="row">
        <div class="col-md-6 p-100">
          <div class="list-group">
            <a href="{% url 'pinax_teams:team_list' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Teams</h4>
              <p class="list-group-item-text">
                List of managed teams
              </p>
            </a>
            <a href="{% url 'generalsettings_index' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Company Settings</h4>
              <p class="list-group-item-text">
                Edit Company details (e.g Name of org, address, logo etc)
              </p>
            </a>
            <a href="{% url 'plan_list' %}" class="list-group-item">
                <h4 class="list-group-item-heading">Plans</h4>
                <p class="list-group-item-text">
                  Setup pricing plan for your tenant apps
                </p>
              </a>
              <a href="{% url 'groups_manager:groups_manager' %}" class="list-group-item">
                <h4 class="list-group-item-heading">Groups Manager</h4>
                <p class="list-group-item-text">
                  Manage Groups and user permissions
                </p>
              </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            <a href="{% url 'template_list' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Tenant Templates</h4>
              <p class="list-group-item-text">
                Create templates for your tenant apps 
              </p>
            </a>
            
            <a href="{% url 'usersubscription_list' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Subscriptions</h4>
              <p class="list-group-item-text">
                View and Manage User Subscriptions
              </p>
            </a>
            <a href="{% url 'producttype_list' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Product Types</h4>
              <p class="list-group-item-text">
                View and Manage Product Types
              </p>
            </a>
            <a href="{% url 'helpdesk:system_settings' %}" class="list-group-item">
              <h4 class="list-group-item-heading">Helpdesk</h4>
              <p class="list-group-item-text">
                Manage Helpdesk Settings 
              </p>
            </a> 
          </div>
        </div>
      </div>
</section>
<!-- /.content -->
{% endblock main_content %}