{% extends "multitenancy/admin/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "multitenancy/billing/css/invoice.css" %}">
{% endblock custom_css %}
{% block page_title %}
    Manage Invoices
{% endblock page_title %}
{% block breadcrumbs %}
    <li class="breadcrumb-item ">
        <a href="{% url 'billing' %}">Billing</a>
    </li>
    <li class="breadcrumb-item active">Invoices</li>
{% endblock %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="mb-5 mr-3"></div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card text-dark">
                        <div class="card-header">
                            <h3 class="card-title">Invoices</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="invoice-table"
                                   class="table table-bordered table-striped  table-hover">
                                <thead>
                                    <tr>
                                        <th>Subscription</th>
                                        <th>Date Created</th>
                                        <th>Due Date</th>
                                        <th>End Date</th>
                                        <th>Invoice Number</th>
                                        <th>Amount</th>
                                        <th>Credit Used</th>
                                        <th>Payment Method</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Subscription</th>
                                        <th>Date Created</th>
                                        <th>Due Date</th>
                                        <th>End Date</th>
                                        <th>Invoice Number</th>
                                        <th>Amount</th>
                                        <th>Credit Used</th>
                                        <th>Payment Method</th>
                                        <th>Status</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        {% include 'multitenancy/billing/includes/create_invoice_modal.html' %}
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
    <script src="{% static "multitenancy/billing/js/invoice.js" %}"></script>
{% endblock custom_js %}
