{% extends "hod_template/base.html" %}
{% block page_title %}Edit Domain | Name: {% for domains in domain %}{{ domains.domain }}{% endfor %}, ID: {% for domains in domain %}{{domains.id}} {% endfor %}
{% endblock page_title %}

{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-navy">
                    <div class="card-header">
                        <h3 class="card-title">Edit Domain</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" action="/edit_domain_save" method="post">
                        {% csrf_token %}
                        <div class="card-body text-dark">
                            <div class="form-group">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                                {% endif %}
                                {% if message.tags == 'success' %}
                                <div class="alert alert-success">{{ message }}</div>
                                {% endif %}

                                {% endfor %}

                                {% endif %}

                            </div>

                            <div class="form-group">
                           
                                <label>Domain Name</label>
                                {% for domains in domain  %}
                                <input type="text" class="form-control" name="domain" placeholder="Edit Domain Name"
                                    value="{{domains.domain}}">
                                   {% endfor %}
                            </div>
                            <div class="form-group">
                                <label>Domain Primary</label>
                               {% for domains in domain  %}
                                <select type="text" class="form-control" name="is_primary" 
                                    value="{{domains.is_primary}}">
                                    
                                        <option > True </option>
                                        <option > False </option>

                                {% endfor %}
                                </select>
                            </div>

                     
                       


                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block " href="/">Save Tenant</button>
                            </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>


        </div><!-- /.container-fluid -->
</section>



<!-- /.content -->
{% endblock main_content %}