{% extends "hod_template/base.html" %}
{% block page_title %}Edit Staff | Username: {{ staff.username }}, ID: {{staff.admin.id}}
{% endblock page_title %}

{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Staff</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <!-- form start -->
                    {% url 'edit_staff_save' as action_path %}
                   {% include  'hod_template/add_customer_form_template.html' with messages=messages form=form action_path=action_path button_text="Edit Customer" %}
                </div>
                <!-- /.card -->

            </div>


        </div><!-- /.container-fluid -->
</section>



<!-- /.content -->
{% endblock main_content %}