{% extends "hod_template/base.html" %}
{% block page_title %}Manage Tenants{% endblock page_title %}

{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-dark">Tenant Details</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-dark table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Schema Name</th>
                                    <th>Tenant Slug</th>
                                    <th>Tenant Name</th>
                                    <th>Tenant Description</th>
                                    <th>Owner ID</th>
                                    <th>Date Created</th>
                                    <th>Date Modified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tenants in tenant%}
                                <tr>
                                    <td>{{tenants.id}}</td>
                                    <td>{{tenants.schema_name}}</td>
                                    <td>{{tenants.slug}}</td>
                                    <td>{{tenants.name}}</td>
                                    <td>{{tenants.description}}</td>
                                    <td>{{tenants.owner_id}}</td>

                                    <td>{{tenants.created}}</td>
                                    <td>{{tenants.modified}}</td>
                                    <th> <a name="" id="" class="btn btn-success" href="/tenant/edit/{{ tenants.id }}"
                                            role="button"><i class="fas fa-edit"></i> Edit</a> </th>


                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock main_content %}