*{
    overflow: hidden;
}

.login-container{
    width: 100%;
    margin: 0
}

.login{
    width: 100%;
    height: 100vh;
    margin: 0;

}

.login-card{
    width: 100%;
    height: 100vh;
    display: grid;
}

.login-card form{
    display: grid;
}

.login-card .image {
    text-align: center;
    display: block;

}
