{% extends "multitenancy/admin/adminUser/base.html" %}
{% load static %}
{% load i18n avatar_tags %}

{% block page_title %}Change Avatar{% endblock %}
{%block breadcrumbs%}
<li class="breadcrumb-item " ><a href="{% url 'profiles_list' %}">Profiles</a></li>
<li class="breadcrumb-item " ><a href="{% url 'profiles_detail' username=user.username %}">{{ user.profile.display_name }}</a></li>
<li class="breadcrumb-item " ><a href="{% url 'profiles_edit' %}">Update</a></li>
<li class="breadcrumb-item active">Avatar</li>
{% endblock%}


{% block main_content %}
<div class="content-wrapper" style="min-height: 1419.25px;">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
    <p>{% trans "Your current avatar: " %}</p>
    {% avatar user %}
    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% else %}
        <form method="POST" action="{% url 'avatar_change' %}">
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            <p>{% csrf_token %}<input type="submit" value="{% trans "Choose new Default" %}" /></p>
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" /></p>
    </form>
    </section>
</div>
{% endblock %}