{% extends "core/hod_template/base.html" %}
{% block page_title %}Addresses{% endblock page_title %}

{% block main_content %}
<div class="row">
    <div class="col">
        <div class="mb-5 mr-3">
            <button type="submit" class="btn btn-success shadow float-right"><i class="fas fa-plus"></i> Add new address</i></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Address Table</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
          <table class="table table-head-fixed text-dark text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
               
              </tr>
            </thead>
            <tbody>
                {% for address in object_list %}

              <tr>
                <td>{{address.id}}</td>
                <td>{{address.name}}</td>
               
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>


{% endblock %}