{% extends "core/hod_template/base.html" %}
{% block page_title %}Departments{% endblock page_title %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col">
        <div class="mb-5 mr-3">
          <button type="button" class="btn btn-success shadow float-right" data-toggle="modal" data-target="#modal-lg">
            <i class="fas fa-plus"></i>   Add new department
          </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Department Table</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
          <table class="table table-head-fixed text-dark text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
               
              </tr>
            </thead>
            <tbody>
                {% for department in object_list %}

              <tr>
                <td>{{department.id}}</td>
                <td>{{department.name}}</td>
               
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
{% include "core/hod_template/modals/department_create_form.html" %}

      <!-- /.card -->
    </div>
  </div>

</div>
  


{% endblock %}