{% extends 'core/hod_template/base.html' %}
{% block page_title %}
Update Company Address
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Update Company Address</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                {% url 'update_company_address_save' as action_path %}
                {% include 'core/hod_template/add_customer_form_template.html' with messages=messages form=form action_path=action_path button_text="Update Address" %}
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

