{% extends "multitenancy/admin/base.html" %}
{% load bootstrap4 %}

{% block page_title %}Update Details{% endblock page_title %}

{%block breadcrumbs%}
<li class="breadcrumb-item " ><a href="{% url 'generalsettings_index' %}">General Settings</a></li>

<li class="breadcrumb-item active">Update Details</li>
{% endblock%}


{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container text-dark">
        
        
        <form method="POST" enctype="multipart/form-data">

            <!-- Security token -->
            {% csrf_token %}
        
            
            {% bootstrap_field form.company_name %}
            {% bootstrap_field form.phone_number %}
            {% bootstrap_field form.website %}
            {% bootstrap_field form.email %}
            
            <input type="submit" class="btn btn-info" value="Submit">
            <a class="btn btn-danger text-light" href="{% url "generalsettings_index" %}" >Cancel</a>
        </form>
        

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock main_content %}

{%block custom_js%}

{%endblock%}