{% extends "multitenancy/admin/base.html" %}
{% load static %}

{% block page_title %}Manage Customers{% endblock page_title %}
{% block custom_css %}
        <link rel="stylesheet" href="{% static "multitenancy/users/css/customers.css" %}">
        
{% endblock custom_css %}

{%block breadcrumbs%}

<li class="breadcrumb-item active">Customers</li>
{% endblock%}


{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-md">
                <div class="mb-5 mr-3">
                    <form method="get" id="filter-form" class="input-group input-group-md" style="width: 200px;">
                        <input type="text" name="q" class="form-control float-right" placeholder="Search Customers">
                        <div class="input-group-append">
                            <button type="submit" disabled id="" class="btn btn-success"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md">
                <div class="mb-5 mr-3">
                    <form method="get" id="filter-id-form" class="input-group input-group-md" style="width: 200px;">
                        <input type="text" name="id" class="form-control float-right" placeholder="Search Customer id">
                        <div class="input-group-append">
                            <button type="submit" disabled id="" class="btn btn-success"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md">
                <div class="mb-5 mr-3">
                   <a href="{% url "create_customer" %}" class="btn btn-success text-light shadow float-right"><i class="fas fa-plus"></i> Add new cutomer</i></a> 
                </div>
            </div>
        </div>
        <div id="customers-table" class="table-dark"></div>


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script src="{% static "multitenancy/users/js/customers.js" %}"></script>
{% endblock custom_js %}