{% extends "multitenancy/admin/base.html" %}
{% load static %}
{% block page_title %}
    Manage Staff
{% endblock page_title %}
{% block breadcrumbs %}<li class="breadcrumb-item active">Staff</li>{% endblock %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-md">
                    <div class="mb-5 mr-3"></div>
                </div>
                <div class="col-md">
                    <div class="mb-5 mr-3">
                        <button type="button"
                                class="btn btn-success text-light shadow float-right"
                                data-toggle="modal"
                                data-target="#modal-default">
                            <i class="fas fa-plus"></i> Invite User</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card text-dark">
                        <div class="card-header">
                            <h3 class="card-title">Staff</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="staff-table"
                                   class="table table-bordered table-striped  table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Avatar</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Last Login</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Avatar</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Last Login</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        {% include "multitenancy/users/includes/invite_user_modal.html" %}
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
    <script src="{% static "multitenancy/users/js/staff.js" %}"></script>
{% endblock custom_js %}
