{% extends "account/base.html" %}
{% load i18n %}
{% debug %}
{% load account_tags %}

{%block head_title%}{%trans "Page Not Found" %}{%endblock%}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header  text-dark">
                Permission Denied
            </div>
            <div class="card-body">
                <p class="card-text  text-dark text-center">
                    {% if user.is_authenticated %}
                        Hi, {{ user.username }}! You don't have permission to access this page.
                    {% else %}
                        You don't have permission to access this page.
                    {% endif %}
                </p>
            </div>
            <div class="card-footer text-muted text-center">
                {% if user.type == 'Admin' %}
                <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Home</a>
                {% elif user.type == 'Staff' %}
                <a href="{% url 'team_dashboard' %}" class="btn btn-primary">Home</a>
                {%else%}
                <a href="{% url 'customer_dashboard' %}" class="btn btn-primary">Home</a>
                {% endif%}
            </div>
        </div>
    </div>
</div>
{%endblock%}