{% extends "portal/hod_template/base.html" %}
{% block page_title %}Create Mailcow Domain{% endblock page_title %}

{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Domain</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" action="/add_tenant_save" method="post">
                        {% csrf_token %}
                        <div class="card-body text-dark">
                            <div class="form-group">
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                                {% endif %}
                                {% if message.tags == 'success' %}
                                <div class="alert alert-success">{{ message }}</div>
                                {% endif %}

                                {% endfor %}

                                {% endif %}

                            </div>
                            <div class="form-group">
                                <label>Domain</label>
                                <input type="text" class="form-control" name="domain"
                                    placeholder="Enter domain">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" name="description"
                                    placeholder="Description of domain eg NAme of Company">
                            </div>
                            <div class="form-group">
                                <label>Aliases</label>
                                <select class="form-control" name="aliases">

                                    {% for users in user %}
                                    <option > {{users.email}} </option>
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="form-group">
                                <label>Slug</label>
                                <input type="text" class="form-control" name="slug" placeholder="Tenant URL">
                            </div>


                             <div class="form-group">
                                <label>Users</label>
                                <select class="form-control" name="owner">

                                    {% for users in user %}
                                    <option > {{users.email}} </option>
                                    {% endfor %}

                                </select>
                            </div>







                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block ">Add Tenant</button>
                            </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>


        </div><!-- /.container-fluid -->
</section>



<!-- /.content -->
{% endblock main_content %}