{% extends "portal/hod_template/base.html" %}
{% block page_title %}Manage Domains{% endblock page_title %}

{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col">
                <div class="mb-5 mr-3">
                   <a href="{% url "add_tenant_domain" %}"><button type="submit" class="btn btn-success shadow float-right"><i class="fas fa-plus"></i> Add new domain</i></button></a> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-dark">Domain Details</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body text-dark table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Domain</th>
                                    <th>Is Primary</th>
                                    <th>Tenant ID</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for domains in domain%}
                                <tr>
                                    <td>{{domains.id}}</td>
                                    <td>{{domains.domain}}</td>
                                    <td>{{domains.is_primary}}</td>
                                    <td>{{domains.tenant_id}}</td>
                                    <th> <a name="" id="" class="btn btn-success" href="/domain/edit/{{ domains.id }}"
                                            role="button"><i class="fas fa-edit"></i> Edit</a> </th>


                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->


    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock main_content %}