{% extends "portal/hod_template/base.html" %}
{% block page_title %}Customer: {{ object.admin.first_name }} {{ object.admin.last_name }}{% endblock page_title %}
{% load static %}
{% block main_content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    Description
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <dl>
                    <dt>Description lists</dt>
                    <dd>A description list is perfect for defining terms.</dd>
                    <dt>Euismod</dt>
                    <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt>Malesuada porta</dt>
                    <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                  </dl>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- ./col -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    Description Horizontal
                  </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-4">Description lists</dt>
                    <dd class="col-sm-8">A description list is perfect for defining terms.</dd>
                    <dt class="col-sm-4">Euismod</dt>
                    <dd class="col-sm-8">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                    <dd class="col-sm-8 offset-sm-4">Donec id elit non mi porta gravida at eget metus.</dd>
                    <dt class="col-sm-4">Malesuada porta</dt>
                    <dd class="col-sm-8">Etiam porta sem malesuada magna mollis euismod.</dd>
                    <dt class="col-sm-4">Felis euismod semper eget lacinia</dt>
                    <dd class="col-sm-8">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                      sit amet risus.
                    </dd>
                  </dl>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- ./col -->
          </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock %}